footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #494B3E;
    width:100%;
    text-align: center;
    color: white;
    border: solid 2px black;
    box-sizing: border-box;
   }



@media(max-width:600px){
    footer p {
      font-size: 14px;
    }
}